/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
/*header*/
header{
background-image: url("/Dolume/images/Projects\ Simplified\ 2.png");
padding-bottom: 50em ;
background-size:cover;
background-repeat: no-repeat;
background-position: center;

}

/*Nav Bar*/
nav{
  padding-top: 1em;

}

.nav_list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 1rem, 0;
}


.nav_item{
list-style: none;
margin-right: 2rem;
}

.nav_item a{
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 25px;

}

.logo{

  margin-right: auto;
  position: relative;
  bottom: 15px;
  width: 150px;
  height: 50px;
  
}
.nav_item:last-child{

  margin-left: auto;
}

/* Widgets */

.widgets{
  
  padding:26px 0;
  background: url("/Dolume/images/Gradient1.png");
}

.wid-list{
  
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 1rem, 0;
}

.wid-item{

  list-style: none;
  margin-right: 5rem;
  }

  .wid-item a{
    
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
  }