/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/* Top Content */

header{
  background-color: #5A82A3;
  margin-bottom: 20px;
  margin-top: -20px;
}


/* Landing Content */

.landing{
  display:inline-flex;
}

.big{
  margin-left: 50px;
  height: 720px;
  width: 1000px;
}

.big img{
  height: 560px;
  width: 1000px;
  object-fit: cover;
}

.big p{
margin-top: -4px;
padding: 33px 0 65px 33px;
}

.subtext{

  background-color: #003054;
  color: white;
  font-size: 35px;
  padding: 0 0 0 0;
}

/* Small bois */

.small-one{
  background-image: url(/images/homepage.png);
  /* should be 820px */
  width: 810px ;
  height: 232px;
  margin-left: 20px;
  margin-bottom: 20px;
}